table { table-layout: fixed;
        width: 31.5%;
}

table {border-collapse: collapse;
}

td{
    border: 1px solid #000;
}
.bold_cell{
    border-right: 5px solid #000;
}
.bold_bt{
    border-bottom: 4px solid #000;
}
.bold_tp{
    border-top: 4px solid #000;
}
.bold_lt{
    border-left: 5px solid #000;
}

th, td {border: 1px solid black;
        padding: 8px 1px;
        line-height: 29px; 
        width: 54px;
        text-align:center;vertical-align:middle;
        font-size: 25px;
        font-family "Arial";
    }

